body {
    background: url(bg.png);
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}

#navbar {
    position: fixed;
    overflow: hidden;
    right: 552px;
    border-radius: 10px 10px 10px 10px;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 8px;
    background-color: black;
    color: white;
}

li a:hover {
    color: lightgoldenrodyellow;
}

#aktuell {
    color: red;
}

#Halbkreis {
    text-align: center;
    font-size: x-large;
    background: darkred;
    color: lightgoldenrodyellow;
    width: 800px;
    height: 200px;
    border-radius: 0% 0% 100% 100%;
}

.headlines {
    text-shadow: black;
    color: darkred;
    font-size: x-large;
}

b {
    color: darkred;
    text-align: center;
}